/* .splide_container{
    height: 800px;
    width: 1000px;
    position: absolute;
    bottom: 40px;
    right: 70px;
} */

.swipers_container {
    position: absolute;
    top: 0px;
    right: 47px;
    /* height: 472px; */
    /* width: 636px; */
    width: 530px;
    height: 426px;
}
.swiper{
    /* width: 100%;
    max-height: 100%; */
    /* position: absolute;
    bottom: 72px;
    right: 62px; */
    background: black;
    z-index: 10;
    height: 100%;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide img{
    width: 100%;
}

.loading_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading_container div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.splash_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 93, 93);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.splash_text{
    position: absolute;
    right: 0;
    font-size: 30px;
    color: white;
    transform: rotate(90deg);
    font-family: cursive;
}
.splash_gif{
    transform: rotate(90deg);
    width: 70px;
    margin-right: -387px;
}

.subway_platform {
    position: absolute;
    top: -279px;
    left: 0px;
    transform:  rotate(90deg);
    overflow: hidden;
    z-index: 10;
    width: 97%;
}
.subway_platform_extra {
    position: absolute;
    top: -1317px;
    left: -39px;
    transform:  rotate(90deg);
    overflow: hidden;
    z-index: 10;
    width: 100%;
}

.subway_frame_container {
    position: absolute;
    bottom: 4px;
    right: 1px;
    height: 471px;
    width: 633px;
}
.subway_frame {
    height: 600px;
    width: 500px;
    position: absolute;
    bottom: -23px;
    right: 82px;
    z-index: 100;
    transform: rotate(90deg);
}

.subway_sign {
    position: absolute;
    top: -604px;
    /* top: 56px; */
    left: 339px;
    transform: rotate(180deg);
    overflow: hidden;
    z-index: 10;
    width: 600px;
}
.subway_sign img {
    width: 100%;
}
.subway_sign_typeface {
    font-family: Helvetica, sans-serif;
    font-size: 55px;
    color: white;
    margin: 0 0 10px 0;
}
.subway_sign_text_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    transform: rotate(-90deg);
    color: white;
    top: 133px;
    left: 110px;
    height: 353px;
    width: 374px;
    padding: 15px;
    box-sizing: border-box;
}
.subway_stops {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.subway_stops p {
    font-family: Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stop_L {
    background: grey;
    color: white;
}
.stop_NQR {
    background-color: #d4a423;
    color: black !important;
}
.stop_456 {
    background-color: #488c53;
    color: white;
}
.stops_large {
    width: 50px;
    height: 50px;
    font-size: 32px;
    border-radius: 50px;
    margin: 0 5px 0 0;
}
.stops_small {
    width: 30px;
    height: 30px;
    font-size: 16px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 20px;
}

.subway_sign_top {

}
.subway_sign_bottom {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.subway_sign_bottom span{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.subway_sign_bottom p{
    font-family: Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    margin: 0 5px 5px 0;
}

#subway_platform_container {
    position: absolute;
    top: 900px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.test_buttons {
    position: absolute;
    top: 0px;
    left: 0px; 
    z-index:10000;
}

.splide__arrows {
    z-index: 100000000;
    position: absolute;
    left: 0;
}

.doors_container {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: 9999;
    width: 100%;
    height: 100%;
}
.doors_container img{
    height: 100%;
    width: 100%;
}

#doors_frame {
    will-change: left, top; /* https://developer.mozilla.org/en-US/docs/Web/CSS/will-change */
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
}

#doors_left {
    will-change: left, top; /* https://developer.mozilla.org/en-US/docs/Web/CSS/will-change */
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9998;
}

#doors_right {
    will-change: left, bottom; /* https://developer.mozilla.org/en-US/docs/Web/CSS/will-change */
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 9998;
}

/* .svg_container img {
    position: absolute;
} */

body {
    overflow: hidden;
}