<!DOCTYPE html>
<html>
    <head>
        <title>Frame Project - Basic Setup</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
            rel="stylesheet"
            href="static/swiper-bundle.min.css"
        />
        <link rel="stylesheet" href="static/style.css">
        <script src="static/lottie.min.js"></script>
        <script src="static/swiper-bundle.min.js"></script>
        <script src="static/socket.io.min.js"></script>
        <script src="static/jquery.min.js"></script>
    </head>
    <body>

        
    <!-- Subway Platform-->
    <div id="subway_platform_container">
        <!-- <img class="subway_platform" src="static/platform_test.png" /> -->
        <img class="subway_platform_extra" src="static/platform_large.png" />
        <img class="subway_platform" src="static/platform_large.png" />
        <div class="subway_sign">
            <img src="static/platform_sign.png" />
            <div class="subway_sign_text_container" >
                <div class="subway_sign_top">
                    <p id="subway_stop" class="subway_sign_typeface">
                        TESTING STOP
                    </p>
                    <div class="subway_stops">
                        <p class="stop_L stops_large">L</p>
                        <p class="stop_NQR stops_large">N</p>
                        <p class="stop_NQR stops_large">Q</p>
                        <p class="stop_NQR stops_large">R</p>
                        <p class="stop_456 stops_large">4</p>
                        <p class="stop_456 stops_large">5</p>
                        <p class="stop_456 stops_large">6</p>
                    </div>
                </div>
                <div class="subway_sign_bottom">
                    <span>
                        <p> Elevator to </p>
                        <p class="stop_L stops_small">L</p>
                        <p class="stop_NQR stops_small">N</p>
                        <p class="stop_NQR stops_small">Q</p>
                        <p class="stop_NQR stops_small">R</p>
                        <p>at</p>
                    </span>
                    <span>
                        <p>NE corner 14 St & 4 Av </p>            
                    </span>
                </div>
            </div>
        </div>
        
        <div class="subway_frame_container">
            <!-- Slideshow -->
            <div id="swipers_container" class="swipers_container">
                <!-- Swipers are added here -->
            </div>
            
            <img class="subway_frame" src="static/platform_frame.png" />
        </div>
    </div>

    <!-- Loading Animation -->
    <div id="loading_container" class="loading_container">
        <!-- <img src="static/puff.svg" width="500" alt=""> -->
        <div id="transition_background"> </div>
        <div id="transition_lights"> </div>
    </div>

	<!-- Subway Doors -->
    <!-- Video -->
    <!-- <video class="plyr_container" id="player" playsinline muted data-poster="/">
        <source src="static/subway_doors_close-vp9-chrome.webm" type="video/webm">
        <p>Your browser doesn't support HTML5 video.</p>
    </video> -->
    
    <!-- PNG -->
    <div class="doors_container">
        <img id="doors_frame" src="static/subway_doors_frame.png" />
        <img id="doors_left" src="static/subway_doors_left.png" />
        <img id="doors_right" src="static/subway_doors_right.png" />
    </div>
    
    <!-- SVG -->
    <!-- <div class="svg_container">
        <img id="doors_frame" src="static/subway_doors_frame.svg" />
        <img id="doors_left" src="static/subway_doors_left.svg" />
        <img id="doors_right" src="static/subway_doors_right.svg" />
    </div> -->
    <!-- End Subway Doors -->

    <!-- For Local Development. Comment out before pushing -->
    <!-- <div class="test_buttons" style="background-color: red; padding: 5px">
        <button id="mock_nextImage"> Next Image </button>
        <button id="mock_nextAlbum"> Next Album </button>
    </div> -->

    <div id="splash_container" class="splash_container">
        <p id="splash_text" class="splash_text">
            Loading 3 Years of Memories...
        </p>
        <img class="splash_gif" src="static/heartbeat.gif" />
    </div>
    
    <!-- Script -->
    <script src="static/script.js"></script>

    </body>
</html>