<!DOCTYPE html>
<html>
    <head>
        <title>Frame Project - Basic Setup</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
            rel="stylesheet"
            href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
        />
        <link rel="stylesheet" href="static/style.css">
        <script src="static/swiper-bundle.min.js"></script>
        <script src="static/socket.io.min.js"></script>
        <script src="static/jquery.min.js"></script>
        <style>
            /* This will hide the plyr controls that we dont want/need */
            .plyr__controls, .plyr__control{
                display: none;
            }
        </style>
    </head>
    <body>

    <!-- Slideshow -->
    <div id="swipers_container">
        <!-- Swipers are added here -->
    </div>

    <!-- Subway Platform-->
    <div id="subway_platform_container">
        <img class="subway_platform" src="static/platform_test.png" />
    </div>

    <!-- Loading Animation -->
    <div id="loading_container" class="loading_container">
        <img src="static/puff.svg" width="500" alt="">
    </div>

	<!-- Subway Doors -->
    <!-- Video -->
    <!-- <video class="plyr_container" id="player" playsinline muted data-poster="/">
        <source src="static/subway_doors_close-vp9-chrome.webm" type="video/webm">
        <p>Your browser doesn't support HTML5 video.</p>
    </video> -->
    
    <!-- PNG -->
    <div class="svg_container">
        <img id="doors_frame" src="static/subway_doors_frame.png" />
        <img id="doors_left" src="static/subway_doors_left.png" />
        <img id="doors_right" src="static/subway_doors_right.png" />
    </div>
    
    <!-- SVG -->
    <!-- <div class="svg_container">
        <img id="doors_frame" src="static/subway_doors_frame.svg" />
        <img id="doors_left" src="static/subway_doors_left.svg" />
        <img id="doors_right" src="static/subway_doors_right.svg" />
    </div> -->
    <!-- End Subway Doors -->

    <!-- For Local Development. Comment out before pushing -->
    <!-- <div class="test_buttons" style="background-color: red; padding: 5px">
        <button id="mock_nextImage"> Next Image </button>
        <button id="mock_nextAlbum"> Next Album </button>
    </div> -->
    
    <!-- Script -->
    <script src="static/script.js"></script>

    </body>
</html>