<!DOCTYPE html>
<html>
    <head>
        <title>Frame Project - Basic Setup</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/bootstrap.min.css">
        <link rel="stylesheet" href="static/splide.min.css">
        <link rel="stylesheet" href="static/style.css">
        <!-- <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script> -->
        <script src="static/socket.io.min.js"></script>
        <script src="static/jquery.min.js"></script>
        <script src="static/splide.min.js"></script>
    </head>
    <body>

    <!-- Slideshow -->
    <div id="parent" style="height: 800px; width: 1000px; position: absolute; bottom:20px; right:20px; ">
    <div class="splide0" id="slider0">
        <div class="splide__track">
            <ul class="splide__list">
            </ul>
        </div>
    </div>
    </div>

	<!-- Subway Doors -->
    <!-- <video style="position: absolute;" width="100%" muted loop autoplay>
        <source  src="static/train_test.mp4" type="video/mp4">
    </video> -->
    
    <!-- Script -->
    <script src="static/script.js"></script>

    </body>
</html>